@model IEnumerable<ProyectoFinal.Models.SessionInfoModel>

@{
	ViewBag.Title = "Dashboard";
}

<h2>Partidas actuales</h2>

<hr />

<a class="btn btn-default" href="@Url.Action("Create", "Games")">Crear nueva</a>

@foreach (var info in Model)
{
	<hr />
	<div class="session-info">
		@Html.Partial("Card", info.DiscardPileTop)
		@foreach (var user in info.Players)
		{
			<div class="user">
				<img src="@Url.Action("Photo", "Account", new { userId = user.Id })" style="height: 32px;" />
				<span>@(user.Name)</span>
			</div>
		}
		<br />
		<a class="btn btn-default" href="@Url.Action("Play", "Games", new { id = info.Id })">¡Jugar!</a>
		<br style="clear: both;" />
	</div>
}
